body{
  background-color: #333333;
  color: #f2f2f2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  padding-block: 3rem;
}